.additional-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid $border-p;

  &:last-child {
    border-bottom: 1px solid $border-p;
  }
}

.additional-product h3 {
  margin: 12px 0 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product p {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.additional-product__btn {
  width: 100%;
  margin-bottom: 18px;
  font-size: 16px;
  font-family: "oswald", sans-serif;
  line-height: 20px;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

.product-bonus {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  box-sizing: border-box;
  margin: 39px 0 35px;
  padding-top: 170px;
  background: url("../img/gift-photo-mobile@1x.jpg") top center no-repeat, linear-gradient(to bottom, $green-gradient, $green-gradient);
  background-size: cover;
  min-width: 280px;
  min-height: 289px;

  &::before {
    content: "";
    background: url("../img/icon-gift.svg") no-repeat;
    color: $base-color;
    width: 55px;
    height: 60px;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-resolution: $retina) {
  .product-bonus {
    background: url("../img/gift-photo-mobile@2x.jpg") top center no-repeat, linear-gradient(to bottom, $green-gradient, $green-gradient);
    background-size: cover;
  }
}

.product-bonus__text {
  max-width: 280px;
  text-align: center;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .additional-product {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid $border-p;
    border-right: 1px solid $border-p;
    padding: 15px 38px 9px;
  }

  .additional-product h3 {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
  }

  .additional-product p {
    font-size: 16px;
    line-height: 20px;
    margin-left: 48px;
  }

  .product-bonus {
    justify-content: flex-end;
    margin: 70px 0 0 0;
    padding-top: 55px;
    min-height: 200px;
    background: $green-gradient url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    background-size: cover;

    &::before {
      left: 17%;
    }
  }

  @media (min-resolution: $retina) {
    .product-bonus {
      background: $green-gradient url("../img/gift-photo-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  .product-bonus__text {
    margin-right: 124px;
    text-align: start;
  }

  .additional-product__btn {
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 0;
    border-right: none;
    border-left: none;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 13px;
    }
  }

  .additional-product p {
    margin: 30px 0 0;

    &:first-of-type {
      margin-left: 43px;
      width: 150px;
    }

    &:last-of-type {
      margin-left: 0;
      width: 100px;
      text-align: end;
    }
  }

  .additional-product h3 {
    margin-top: 25px;
    margin-right: 0;
    width: 245px;
  }

  .product-bonus {
    justify-content: center;
    margin-top: 51px;
    margin-left: 79px;
    padding-top: 185px;
    width: 245px;
    min-width: auto;
    min-height: auto;
    background: $green-gradient url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    background-size: cover;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-resolution: $retina) {
    .product-bonus {
      background: $green-gradient url("../img/gift-photo-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  .product-bonus .product-bonus__text {
    margin: 0 0 42px 0;
    text-align: center;
  }

  .additional-product__btn {
    margin-top: 15px;
    margin-bottom: 3px;
    width: 245px;
  }
}
