.additional-catalog__container {
  @include container-mobile;
  padding-top: 8px;
  position: relative;
}

.additional-catalog {
  position: relative;

  &::after {
    @include line;
    top: 41px;
    left: 0;
    z-index: -1;
  }
}

.additional-catalog h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: -20px;
  padding: 0 20px 14px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $base-color;
}

@media (min-width: $tablet-width) {
  .additional-catalog::after {
    top: 89px;
  }

  .additional-catalog__container {
    @include tablet-mix;
    @include container-tablet;
    padding-bottom: 75px;
  }

  .additional-catalog h2 {
    margin-top: 58px;
    margin-left: 0;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-catalog__wrapper {
    margin-top: 51px;
  }
}


@media (min-width: $desktop-width) {
  .additional-catalog__container {
    @include desktop-mix;
    @include container-desktop;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 88px;
    padding-bottom: 0;
  }

  .additional-catalog__wrapper {
    margin-top: 50px;
    width: 73.4%;
  }

  .additional-catalog h2 {
    margin-top: 68px;
    margin-left: -38px;
  }

  .additional-catalog::after {
    top: 98px;
  }
}
