.additional-catalog__container {
  padding: 0 20px;
  position: relative;
}

.additional-catalog {
  position: relative;

  &::after {
    @include line;
    top: 33px;
    left: 0;
    z-index: -1;
  }
}

.additional-catalog h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: -20px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $base-color;
}

@media (min-width: $tablet-width) {
  .additional-catalog::after {
    top: 50px;
  }

  .additional-catalog__container {
    @include tablet-mix;
    @include container-tablet;
  }

  .additional-catalog h2 {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 100px;
    padding: 0 30px;
  }
}


@media (min-width: $desktop-width) {
  .additional-catalog__container {
    @include desktop-mix;
    @include container-desktop;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .additional-catalog__wrapper {
    width: 75%;
  }

  .product-catalog {
    padding: 0 110px;
  }

  .additional-catalog h2 {
    margin-left: -30px;
  }
}
