.additional-product__btn {
  width: 100%;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

.product-bonus {
  background: url("/img/gift-photo-mobile@1x.jpg") no-repeat;
  min-width: 280px;
  min-height: 290px;

  /*
  &::before {
    content: "";
    background: url("../../img/icon-gift.svg") no-repeat;
    width: 55px;
    height: 60px;
    position: absolute;
    left: 50%;
  }
  */
}

.product-bonus__text {
  font-size: 16px;
  line-height: 20px;
  color: $base-color;
}
