.about-list__item {
  margin-left: 80px;
  margin-bottom: 20px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20px;
    background-color: $green;
    background-position: center;
  }

  &--leaf::before {
    background: url("../../img/advantage-leaf@1x.png") no-repeat;
  }

  &--powder::before {
    background: url("../../img/advantage-powder@1x.png") no-repeat;
  }

  &--dining::before {
    background: url("../../img/advantage-dining@1x.png") no-repeat;
  }

  &--clock::before {
    background: url("../../img/advantage-clock@1x.png") no-repeat;
  }
}
