.content-block {
  padding: 0 20px 20px;
}

.content-block__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .content-block {
    @include tablet-mix;
    padding: 15px 30px 0;
  }

  .content-block__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .content-block {
    @include desktop-mix;
    @include container-desktop;
  }

  .content-block__title {
    margin-top: 29px;
  }

  .example .content-block__title {
    @include desktop-mix;
    @include container-desktop;
    margin-top: 17px;
    margin-bottom: 15px;
  }
}
