.example {
  padding-top: 15px;
  background-color: $light-gray;
}

.example__title {
  margin: 0 0 25px;
  padding: 0 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__description {
  @include container-mobile;
}

.example__text {
  padding-right: 1px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
}

.options-block__option {
  margin: 13px 0 17px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.options-block__description {
  position: absolute;
  margin: 0;
  width: 82px;
  left: 19px;
  bottom: -16px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 12px;
  text-align: center;
  background-color: $light-gray;
}

.example__description__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 21px;
}

.example__description__item p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.options-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.options-block__item {
  position: relative;
  width: calc(50% - 18px);
  border: 1px solid $border-gr;
  border-radius: 3px;
}

.photo-block__wrapper--second {
  display: none;
}

.control-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0 59px 37px 63px;
}

.control-menu__button {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.control-menu__range {
  position: relative;
  margin-top: 4px;
  width: 82px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.control-menu__range-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: #68b738;
}

.photo-block__image {
  margin: 0;
}

.example__photo {
  padding-top: 19px;
}

@media (min-width: $tablet-width) {
  .example {
    padding-bottom: 31px;
    background: linear-gradient(to bottom, $base-color 56.4%, rgba($base-color, 0) 56.4%), linear-gradient(to right, $light-gray 50%, $grey-back 50%);
  }

  .example__wrapper {
    @include tablet-mix;
  }

  .example__title {
    margin: 6px auto 48px;
    padding: 0 30px;
    max-width: 768px;
    box-sizing: border-box;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    @include tablet-mix;
    @include container-tablet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__text {
    padding-right: 15px;
    font-size: 16px;
    line-height: 24px;
  }

  .options-block {
    padding-top: 37px;
    width: 365px;
  }

  .options-block__item {
    width: calc(50% - 23px);
  }

  .options-block__option {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }

  .options-block__description {
    bottom: -7px;
    width: 127px;
    font-size: 14px;
    line-height: 14px;
    background-color: $base-color;
  }

  .example__description__item {
    padding-top: 47px;
  }

  .example__description__item p {
    margin: 0;
    width: 100%;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
  }

  .photo-block {
    display: flex;
    flex-wrap: wrap;
  }

  .example__photo {
    padding: 86px 30px 0;
  }

  .photo-block__wrapper {
    box-sizing: border-box;
    width: 50%;
    overflow: hidden;

    &--second {
      display: block;
    }
  }

  .photo-block__wrapper--first .photo-block__image {
    padding-left: 16px;
  }

  .photo-block__wrapper--second .photo-block__image {
    margin-left: -338px;
  }

  .photo-block__image img {
    width: 690px;
    max-width: inherit;
  }

  .control-menu {
    margin-top: 16px;
    padding: 0 70px 37px 67px;
  }

  .control-menu__button {
    padding-bottom: 8px;
    font-size: 20px;
    border-bottom: 1px dotted $border-p;

    &:hover {
      transition: 0.3s;
      border-bottom: 1px solid $border-p;
    }

    &:active {
      transition: 0.3s;
      border: none;
    }
  }

  .control-menu__range {
    margin-top: 10px;
    width: 428px;
    height: 6px;
    border: none;
    background-color: $range-color;
    border-radius: 2.5px;
  }

  .control-menu__range-button {
    left: 47%;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      transition: 0.3s;
      box-shadow: 0 2px 2px 0 $border-p;
    }

    &:active {
      transition: 0.3s;
      border: 1px solid $green;
      box-shadow: 0 2px 2px 1px $border-p;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 0;
    background: linear-gradient(to bottom, $base-color 136px, rgba($base-color, 0) 136px), linear-gradient(to right, $light-gray 72.5%, $grey-back 72.5%);
  }

  .example__wrapper {
    @include desktop-mix;
    @include container-desktop;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(to right, $light-gray 75%, $grey-back 75%);
  }

  .example__title {
    margin-bottom: 75px;
    padding: 0 40px;
    max-width: 1300px;
  }

  .example__description {
    @include desktop-mix;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 570px;
  }

  .example__text {
    padding-top: 56px;
    padding-right: 135px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__description__item p {
    width: auto;

    &:first-of-type {
      margin-right: 65px;
    }
  }

  .options-block {
    padding-top: 52px;
  }

  .example__description__item {
    padding-top: 59px;
    justify-content: flex-start;
  }

  .options-block__description {
    background-color: $light-gray;
    left: 8px;
    padding: 0 10px;
  }

  .example__photo {
    width: 610px;
    padding: 0;
  }

  .photo-block__wrapper--first {
    width: 53%;
  }

  .photo-block {
    margin-top: -189px;
  }

  .photo-block__wrapper--first .photo-block__image {
    margin-left: -40px;
    padding-left: 0;
  }

  .photo-block__wrapper--second {
    width: 47%;
  }

  .photo-block__wrapper--second .photo-block__image {
    margin-left: -363px;
  }

  .control-menu {
    margin: 0;
    padding: 38px 0 69px 40px;
  }

  .control-menu__range {
    margin-top: 8px;
  }

  .control-menu__range-button {
    left: 46.5%;
  }

  .control-menu__button {
    padding-bottom: 5px;
  }
}
