.footer {
  padding: 0 20px;
}

.footer__social {
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
}

.social-links__icon:hover {
  fill: $green;
}

.social-links__icon:active {
  fill: $green-active;
}

.footer-logo:hover {
  opacity: 0.8;
}

.footer-logo:active {
  opacity: 0.6;
}
