.footer {
  background-color: $light-gray;
}

.footer__wrapper {
  padding: 0 20px;
}

.footer__item {
  margin: 0 auto;
  text-align: center;
}

.footer-logo {
  text-align: center;

  &:hover {
    transition: 0.3s;
    opacity: 0.8;
  }

  &:active {
    transition: 0.3s;
    opacity: 0.6;
  }
}

.footer__social {
  border-top: 2px solid $border-footer;
  border-bottom: 2px solid $border-footer;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 29px;
  padding: 23px 20px 19px 8px;

  &__icon:hover {
    transition: 0.3s;
    fill: $green;
  }

  &__icon:active {
    transition: 0.3s;
    fill: $green-active;
  }
}

.social-links a {
  margin-right: 38px;

  &:last-of-type {
    margin-right: 0;
  }
}

.copyright-block {
  padding: 15px 0;
}

.copyright-block__link {
  display: flex;
  justify-content: space-between;
}

.copyright-block__text {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: $black;
}

.copyright-block__link:hover {
  & path {
    transition: 0.3s;
    fill: $green;
  }
}

.copyright-block__link:active {
  transition: 0.3s;
  opacity: 0.3;
}

.copyright-block__picture {
  margin-right: -6px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include tablet-mix;
    @include container-tablet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }

  .footer__item {
    margin: -7px 0 0 0;
  }

  .social-links {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 20px;
    width: 25%;
    max-width: 25%;
    border: none;
  }

  .social-links a {
    margin: 0 28px 0 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .social-links__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social-links__icon--inst {
    margin-top: -4px;
    width: 23px;
    height: 23px;
  }

  .social-links__icon--fcb {
    margin-top: -7px;
    width: 14px;
    height: 28px;
  }

  .copyright-block__text {
    margin-top: 8px;
    margin-right: 17px;
  }

  .copyright-block__picture {
    margin-top: -3px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    @include desktop-mix;
    @include container-desktop;
  }

  .footer__item {
    margin: 0;
  }

  .social-links {
    justify-content: flex-start;
    margin-left: 126px;
    padding-left: 36px;
  }

  .copyright-block__link {
    margin-top: 10px;
  }
}
