.footer {
  background-color: $light-gray;
}

.footer__wrapper {
  padding: 0 20px;
}

.footer__item {
  margin: 0 auto;
  text-align: center;
}

.footer-logo {
  text-align: center;

  &:hover {
    transition: 0.3s;
    opacity: 0.8;
  }

  &:active {
    transition: 0.3s;
    opacity: 0.6;
  }
}

.footer__social {
  border-top: 2px solid $border-footer;
  border-bottom: 2px solid $border-footer;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 29px;
  padding: 23px 20px 19px 8px;

  &__icon:hover {
    transition: 0.3s;
    fill: $green;
  }

  &__icon:active {
    transition: 0.3s;
    fill: $green-active;
  }
}

.social-links a {
  margin-right: 38px;

  &:last-of-type {
    margin-right: 0;
  }
}

.footer__copyright {
  color: $black;

  &--text {
    margin-top: 13px;
    margin-right: 18px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    line-height: 16px;
  }

  &--text:hover {
    transition: 0.3s;
    color: $green;
  }

  &--text:active {
    transition: 0.3s;
    color: $green-active;
  }

  &--logo {
    margin-top: 7px;
  }
}

.footer__copyright:hover {
  & path {
    transition: 0.3s;
    fill: $green;
  }
}

.footer__copyright:active {
  & path {
    transition: 0.3s;
    fill: $green-active;
  }
}

.footer__copyright-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include tablet-mix;
    @include container-tablet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }

  .footer__item {
    margin: -7px 0 0 0;
  }

  .social-links {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 16px;
    width: 25%;
    border: none;
  }

  .social-links a {
    margin: 0 28px 0 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .footer__copyright-wrapper {
    margin-top: -16px;
  }

  .social-links__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social-links__icon--inst {
    width: 23px;
    height: 23px;
  }

  .social-links__icon--fcb {
    width: 14px;
    height: 28px;
  }

  .footer__copyright--text {
    margin-right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    @include desktop-mix;
    @include container-desktop;
    align-content: start;
  }

  .footer__item {
    margin-top: 43px;
  }

  .social-links {
    justify-content: flex-start;
    margin-top: 47px;
    margin-left: 126px;
    padding-left: 36px;
  }

  .footer__copyright-wrapper {
    margin-top: 39px;
  }
}
