.program-form__btn {
  font-size: 16px;
  line-height: 20px;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

.form-block {
  padding-top: 5px;

  & input {
    box-sizing: border-box;
    height: 50px;
  }

  & h2 {
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    padding: 0 20px;
  }

  & p {
    font-size: 14px;
    line-height: 18px;
    padding: 0 20px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .form-block {
    @include tablet-mix;

    & h2 {
      padding: 0 30px;
    }

    & p {
      padding: 0 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-block {
    @include desktop-mix;

    & .form-block__title {
      padding: 0 110px;
    }

    & .form-block__text {
      padding: 0 110px;
    }
  }
}
