.form-block__container {
  @include container-mobile;
}

.filter-program,
.contacts-list,
.additional-list {
  @include list-decoration;
}

.program-form__btn {
  font-size: 16px;
  line-height: 20px;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

.form-block {
  margin-bottom: 50px;
  padding-top: 5px;
}

.form-block input {
  box-sizing: border-box;
  height: 50px;
}

.form-block__title {
  margin-top: 11px;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.form-block__text {
  width: 275px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .form-block__container {
    @include tablet-mix;
    @include container-tablet;
  }

  .form-block__title {
    padding-left: 0;
  }

  .form-block__text {
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .program-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-block__container {
    @include desktop-mix;
    @include container-desktop;
  }

  .form-block__text {
    padding: 0;
  }
}
