.header {
  padding: 0 20px;
}

.nav-button {
  border: none;
  margin-top: 10px;
  background: url("../img/icon-close.svg") no-repeat;
  width: 18px;
  height: 18px;
}

.header__logo-image:hover,
.header__logo-text:hover {
  opacity: 0.8;
}

.header__logo-image:active,
.header__logo-text:active {
  opacity: 0.6;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo-text {
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }

  .nav-button {
    display: none;
  }

  .header__logo-text {
    display: none;
  }

  .header__logo-image img {
    width: 173px;
    height: 58px;
  }
}


@media (min-width: $desktop-width) {
  .header {
    padding: 0 110px;
  }

  .header__logo-image img {
    width: 202px;
    height: 59px;
  }
}
