.site-list__item {
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid $border-base;
}

.site-list__item:last-child {
  border-bottom: 2px solid $border-base;
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  color: $black;

  &:not(.site-list__link--active):hover {
    transition: 0.3s;
    color: $black-06;
  }

  &:not(.site-list__link--active):active {
    transition: 0.3s;
    color: $black-03;
  }
}

.site-list__link--active {
  border-bottom: 2px solid $green;
}

.navigation ul {
  margin: 0;
}
