.site-list__item {
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid $border-ul;
}

.site-list__item:last-child {
  border-bottom: 2px solid $border-ul;
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  color: $black;
}

.site-list__link:not(.site-list__link--active):hover {
  color: $black-06;
  transition: 0.3s;
}

.site-list__link:not(.site-list__link--active):active {
  color: $black-03;
  transition: 0.3s;
}

.site-list__link--active {
  border-bottom: 2px solid $green;
}

.navigation ul {
  margin: 0;
}

