.navigation {
  width: 100%;
}

.navigation-close {
  display: none;
}

.site-list {
  @include list-decoration;
  margin-bottom: 0;
}

.site-list__item {
  text-transform: uppercase;
  text-align: center;
  padding: 22px 0;
  border-top: 2px solid $border-base;
}

.site-list__item:last-child {
  border-bottom: 2px solid $border-base;
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  color: $black;

  &:not(.site-list__link--active):hover {
    transition: 0.3s;
    color: $black-06;
  }

  &:not(.site-list__link--active):active {
    transition: 0.3s;
    color: $black-03;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    width: auto;
  }

  .site-list__link--active {
    padding-bottom: 7px;
    border-bottom: 2px solid $green;
  }

  .site-list {
    margin-top: 22px;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 25px;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 460px;
  }

  .site-list__item {
    margin: 0 18px;
    border: none;

    &:last-child {
      border: none;
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    margin-top: 52px;
    max-width: 570px;
  }

  .site-list__item {
    margin: 0 17px;
  }

  .site-list__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }

  .site-list__link--index {
    color: $base-color;

    &:not(.site-list__link--active):hover {
      transition: 0.3s;
      color: $base-color-06;
    }

    &:not(.site-list__link--active):active {
      transition: 0.3s;
      color: $base-color-03;
    }
  }

  .site-list__link--index.site-list__link--active {
    border-bottom: 2px solid $base-color;
  }
}
