.product-card {
  @include container-mobile;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-base;
}

.product-card__wrapper {
  width: 50%;
}

.product-card__wrapper a {
  color: $black;
}

.product-card__wrapper h3 {
  margin-top: 20px;
  margin-bottom: 14px;
  padding-right: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.product-card__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-card__description p {
  margin: 0;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.product-card__btn {
  padding: 9px 15px;
  width: 100%;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

.product-card__img {
  margin: 0;
  text-align: center;
  width: 50%;
}

.show-more__wrapper {
  position: relative;
  padding: 63px 20px 0;

  &::after {
    content: "";
    background: url("../img/icon-plus.svg") no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 26px;
    width: 30px;
    height: 30px;
  }
}

.show-more__text {
  text-align: center;

  &:first-of-type {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &:nth-of-type(2) {
    margin: 7px 0 22px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 16px;
  }
}

.show-more__btn {
  width: 100%;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  color: $black;
  background-color: $light-gray;

  &:hover {
    background-color: $light-gray-modify;
  }

  &:active {
    color: $black-03;
    background-color: $light-gray-modify;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    margin-top: 57px;
    padding: 0 0 40px;
    width: calc(100% / 12 * 6 - 30px);
    background: linear-gradient(to bottom, $base-color 82px, $light-gray 82px);
    border: none;
  }

  .product-card__img {
    width: 100%;

    &--small {
      padding-top: 36px;
    }
  }

  .product-card__img img {
    width: 324px;
  }

  .product-card__wrapper {
    margin-bottom: 28px;
    padding: 0 37px;
    width: 100%;
  }

  .product-card__wrapper h3 {
    margin: 36px 0 28px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .product-card__description {
    margin-bottom: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid $border-base;
  }

  .product-card__description p {
    font-size: 16px;
  }

  .product-card__btn {
    margin: auto auto 0;
    width: 77%;
  }

  .show-more {
    padding: 83px 0 0;
    background: none;
  }

  .show-more__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 145px 0 0;
    min-height: 431px;
    background-color: $base-color;
    box-shadow: inset 0 0 0 1px $border-base;
    border: none;

    &::after {
      top: 57px;
      width: 60px;
      height: 60px;
    }
  }

  .show-more__btn {
    margin: 0 auto;
    width: 77%;
  }

  .show-more__text:first-of-type {
    margin-bottom: 20px;
    padding: 0 75px;
    font-size: 20px;
  }

  .show-more__text:nth-of-type(2) {
    margin-bottom: 88px;
    padding: 0 50px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    margin-top: 57px;
    margin-right: 80px;
    width: calc(100% / 12 * 3 - 60px);

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  .product-card__img--small {
    padding-top: 36px;
  }

  .product-card img {
    width: 245px;
  }

  .product-card__wrapper h3 {
    padding: 0 10px;
  }

  .product-card__btn,
  .show-more__btn {
    width: 69%;
  }

  .show-more__text:first-of-type {
    padding: 0 40px;
  }

  .show-more__text:nth-of-type(2) {
    padding: 0 30px;
  }
}
