.product-catalog {
  padding: 0 20px;
}

.product-catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.product-catalog__item {
  display: flex;
  flex-wrap: wrap;
}


@media (min-width: $desktop-width) {
  .product-catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}
