.product-card__btn {
  width: 100%;
}

.show-more {
  text-align: center;
}

.show-more__btn {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  color: $black;
  background-color: $light-gray-back;

  &:hover {
    transition: 0.3s;
    background-color: $light-gray-modify;
  }

  &:active {
    transition: 0.3s;
    color: $black-03;
  }
}

.additional-product__btn:hover,
.product-card__btn:hover {
  background-color: $green-hvr;
  transition: 0.3s;
}

.additional-product__btn:active,
.product-card__btn:active {
  color: $base-color-03;
  transition: 0.3s;
}

.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  & h3 {
    width: 75%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  & p {
    width: 50%;
    margin: 2px 0;
    font-size: 12px;
    line-height: 16px;
  }

  & p:nth-child(odd) {
    text-align: end;
  }
}
