.program-form legend {
  font-size: 24px;
  line-height: 24px;
  padding: 20px 0;
}

.program-form label,
.program-form input {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.program-form__container {
  position: relative;

  &--line::after {
    @include line;
    top: 42px;
    z-index: -1;
  }
}

.program-form__container--line:nth-last-of-type(2)::after {
  top: 19px;
}

.program-form__container--line:nth-last-of-type(1)::after {
  top: 22px;
}

.program-form__field {
  @include container-mobile;
  margin-left: 0;
  margin-right: 0;
  border: none;
}

.program-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  text-transform: uppercase;

  &:first-of-type {
    margin-top: 18px;
  }
}

.label-mail,
.label-phone {
  position: relative;
}

.label-mail__icon {
  position: absolute;
  right: 16px;
}

.label-phone__icon {
  position: absolute;
  right: 13px;
}

.program-text {
  flex-shrink: 0;
  margin-right: 13px;
}

.program-form__contacts .program-text {
  margin-right: 9px;
}

.program-input {
  padding: 0 15px 3px;
  width: 100%;
  min-height: 40px;
  text-transform: inherit;
  border: 2px solid $border-base;

  &:hover {
    transition: 0.3s;
    border: 2px solid $border-p;
  }

  &:active {
    transition: 0.3s;
    border: 2px solid $black;
  }

  &:focus {
    outline: none;
    border: 2px solid $black;
  }

  &:invalid {
    transition: 0.3s;
    border: 2px solid $input-error-border;
  }
}

.program-input:focus + .label-mail__icon,
.program-input:focus + .label-phone__icon {
  transition: 0.3s;
  fill: $green;
}

.program-input:invalid + .label-mail__icon,
.program-input:invalid + .label-phone__icon {
  transition: 0.3s;
  fill: $input-error-border;
}

.program-form__radio-label:active {
  transition: 0.3s;
  opacity: 0.3;
}

.input-radio + label:hover::before {
  transition: 0.3s;
  border: 2px solid $border-p;
}

.input-radio + label:active::before {
  transition: 0.3s;
  opacity: 0.3;
}

.input-radio:checked + label:active::after {
  transition: 0.3s;
  opacity: 0.3;
}

.program-form__contacts .program-input {
  padding: 0 35px 3px 15px;
}

.program-form__field--border {
  padding-bottom: 1px;
  border-top: 2px solid $border-base;
  border-bottom: 2px solid $border-base;
}

.program-form__comment-field {
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  font-family: "oswald", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 10px 82px 10px;
  box-sizing: border-box;
  border: 2px solid $border-base;
}

.program-form__btn {
  margin-top: 15px;
  width: 100%;
}

.submit-list__text {
  margin-top: 23px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.program-form__legend {
  display: inline-block;
  position: relative;
  margin-left: -21px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $base-color;

  &--first {
    margin-top: 22px;
    margin-bottom: 15px;
    width: 182px;
  }

  &--second {
    margin-top: 0;
    padding-right: 24px;
  }

  &--third {
    margin-top: 1px;
    padding-right: 22px;
  }
}

.filter-program {
  margin-top: 19px;
}

.filter-program__item {
  margin-bottom: 25px;
}

.program-form__radio-label {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 27px;
  height: 27px;
  border: 2px solid $border-base;
  border-radius: 50%;
}

.input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: $green;
  border-radius: 50%;
}

.product-name {
  position: relative;
  padding-bottom: 30px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &:first-of-type {
    margin-top: 40px;
  }
}

.checkbox-control + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid $border-base;
}

.checkbox-control:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  background: url("../img/icon-tick.svg") no-repeat;
  width: 21px;
  height: 16px;
}

.additional-list__item {
  margin-bottom: 25px;
}

.additional-list__item p {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .program-form label,
  .program-form input {
    font-size: 20px;
    line-height: 20px;
  }

  .program-form__field {
    @include tablet-mix;
    @include container-tablet-form;
  }

  .program-form__field--border {
    border: none;
  }

  .program-form__legend {
    margin-top: 51px;
    margin-left: -40px;
    padding: 0 40px 0;
    font-size: 36px;
    line-height: 36px;
    width: auto;

    &--second {
      margin-top: 31px;
    }

    &--third {
      margin-top: 37px;
    }
  }

  .additional-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .additional-list__item {
    margin-bottom: 52px;
    width: calc(50% - 30px);
  }

  .product-name {
    padding-left: 58px;
  }

  .checkbox-control + label::before {
    top: -4px;
    width: 38px;
    height: 38px;
  }

  .checkbox-control:checked + label::after {
    top: 8px;
    left: 10px;
    width: 21px;
    height: 16px;
  }

  .submit-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .program-form__btn {
    padding-bottom: 16px;
    padding-top: 13px;
    width: calc(50% - 30px);
  }

  .submit-list__text {
    padding-top: 6px;
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    width: calc(50% - 30px);
  }

  .filter-program {
    margin-top: 37px;
    padding: 32px 25px 35px 25px;
    border: 2px solid $border-base;
  }

  .filter-program__item:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  .program-label {
    margin-bottom: 20px;
  }

  .program-text {
    margin-right: 18px;
  }

  .program-input {
    min-height: 45px;
  }

  .program-form__radio-label {
    padding-left: 61px;
  }

  .input-radio + label::before {
    top: -5px;
    left: 1px;
    width: 38px;
    height: 38px;
  }

  .input-radio:checked + label::after {
    top: 7px;
    left: 13px;
    width: 18px;
    height: 18px;
  }

  .filter-program__item {
    margin-bottom: 33px;
  }

  .program-form__container--line::after {
    top: 79px;
  }

  .program-form__container--line:nth-last-of-type(2)::after {
    top: 58px;
  }

  .program-form__container--line:nth-last-of-type(1)::after {
    top: 65px;
  }

  .program-form__contacts {
    padding-top: 42px;
  }

  .program-form__contacts .program-text {
    margin-right: 16px;
  }

  .program-form__comment-field {
    margin-top: 39px;
    padding-bottom: 72px;
    font-size: 20px;
    line-height: 30px;
  }

  .label-mail__icon {
    top: 21px;
  }

  .label-phone__icon {
    top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .program-form__container {
    width: 100%;
  }

  .program-form__field {
    @include desktop-mix;
    @include container-desktop;

    &--information {
      padding: 0;
    }
  }

  .filter-program {
    margin: 0;
    border: none;
  }

  .program-form__field--information .program-label:first-of-type {
    margin-top: 0;
  }

  .program-form__field--information .program-label:last-of-type {
    margin-bottom: 0;
  }

  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts-list__item {
    width: calc(50% - 40px);
  }

  .additional-list {
    justify-content: flex-start;
  }

  .additional-list__item {
    margin-right: 80px;
    width: calc(25% - 60px);

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  .program-form__field--border {
    padding: 0;
    height: 100%;
    border: 2px solid $border-base;
  }

  .program-form__wrapper {
    @include desktop-mix;
    @include container-desktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 20px;
  }

  .label-mail {
    width: calc(50% - 40px);
  }

  .label-phone {
    margin-top: 18px;
    width: calc(50% - 40px);
  }

  .label-mail__icon {
    right: 20px;
  }

  .label-phone__icon {
    right: 19px;
  }

  .program-form__wrapper .program-form__container {
    width: calc(50% - 40px);
  }

  .program-form__legend {
    margin-top: 43px;

    &--second {
      margin-top: 34px;
    }

    &--third {
      margin-top: 38px;
    }
  }

  .program-form__contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .program-form__container--line::after {
    top: 71px;
  }

  .program-form__container--line:nth-last-of-type(2)::after {
    top: 60px;
  }

  .program-form__container--line:nth-last-of-type(1)::after {
    top: 66px;
  }

  .program-form__comment-field {
    padding-top: 8px;
    padding-bottom: 74px;
    padding-left: 17px;
  }

  .program-form__btn {
    margin-top: 22px;
    width: calc(50% - 40px);
  }

  .submit-list__text {
    margin-top: 30px;
    width: calc(50% - 40px);
  }
}
