.program-catalog {
  padding: 0 20px;
}

.program-catalog__wrapper {
  background-color: $light-gray;
  margin-bottom: 20px;
  padding: 20px;
}

.main-block__title {
  position: relative;
  text-transform: uppercase;
  margin-top: 14px;
  padding-left: 12px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;

  &--second {
    padding-left: 39px;
  }

  &--first::before {
    content: "";
    background: url("../img/icon-cat-slim.svg") no-repeat;
    background-position: center;
    width: 35px;
    height: 49px;
    position: absolute;
    top: -8px;
    left: 10px;
    z-index: 2;
  }

  &--second::before {
    content: "";
    background: url("../img/icon-cat-pro.svg") no-repeat;
    background-position: center;
    width: 67px;
    height: 28px;
    position: absolute;
    top: 4px;
    left: -7px;
    z-index: 2;
  }

  &--first::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 2px;
    z-index: 1;
  }

  &--second::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 2px;
    z-index: 1;
  }
}

.main-block__text {
  margin-top: 29px;
  margin-bottom: 17px;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 2px solid $border-p;
  color: $dark-silver;
}

.main-block__link {
  padding-right: 47px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: $black;

  &::after {
    content: "";
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    width: 24px;
    height: 11px;
    position: absolute;
    margin-left: 11px;
    margin-top: 4px;
  }

  &:hover::after {
    content: "";
    transition: 0.3s;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    width: 33px;
    height: 11px;
    position: absolute;
  }

  &:active {
    transition: 0.3s;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .program-catalog {
    @include tablet-mix;
    padding: 0 30px;
  }

  .program-catalog__wrapper {
    margin-bottom: 29px;
    padding-bottom: 63px;
  }

  .main-block__title--second {
    padding-left: 0;
  }

  .main-block__title {
    margin-top: 56px;
    margin-bottom: 10px;
    margin-left: 33px;
    padding: 0;
    font-size: 36px;
    line-height: 37px;
    text-align: start;

    &--first::before {
      width: 140px;
      height: 194px;
      left: 423px;
      top: 4px;
    }

    &--second::before {
      width: 268px;
      height: 112px;
      top: 59px;
      left: 359px;
    }

    &--first::after {
      width: 200px;
      height: 200px;
      top: 16px;
      left: 393px;
    }

    &--second::after {
      width: 200px;
      height: 200px;
      top: 15px;
      left: 395px;
    }
  }

  .main-block__link {
    margin-left: 32px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 22px;
      margin-top: 5px;
    }
  }

  .main-block__text {
    margin-top: 26px;
    margin-bottom: 33px;
    margin-left: 32px;
    width: 375px;
    font-size: 16px;
    line-height: 24px;
    border: none;

    &--second-block {
      box-sizing: border-box;
      padding-right: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-catalog {
    @include desktop-mix;
    @include container-desktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 82px;
  }

  .main-block {
    width: calc(50% - 60px);
    padding-right: 0;
  }


  .main-block__title {
    text-align: center;

    &--first {
      padding-right: 31px;
    }

    &--second {
      padding-left: 11px;
    }

    &--first::before {
      width: 70px;
      height: 97px;
      top: -35px;
      left: 2.5%;
    }

    &--second::before {
      width: 134px;
      height: 56px;
      top: -7px;
      left: -4%;
    }

    &--first::after {
      width: 100px;
      height: 100px;
      top: -30px;
      left: 0;
    }

    &--second::after {
      width: 100px;
      height: 100px;
      top: -29px;
      left: 0%;
    }
  }

  .main-block__text {
    margin-top: 74px;
    margin-bottom: 8px;
    width: 480px;
  }
}
