.title-block__wrapper {
  padding: 20px;
}

.title-block__wrapper h1 {
  margin-top: 0;
  padding-top: 7px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $base-color;
}

.title-block__wrapper p {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  color: $base-color;
}

.title-block {
  position: relative;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat, linear-gradient(to bottom, $green-gradient 305px, $base-color 108px);
}

.tittle-block__btn {
  display: inline-block;
  margin-top: 2px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

.title-block__image {
  margin-top: 29px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .title-block {
    @include tablet-mix;
    @include container-tablet;
    background: none;
  }

  .title-block__wrapper {
    position: relative;
    padding: 0;
  }

  .title-block__text h1 {
    margin-top: 42px;
    margin-left: 87px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: start;
    color: $black;
  }

  .title-block__text p {
    margin-left: 88px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $black;
  }

  .title-block__image {
    margin-top: 21px;
  }

  .tittle-block__btn {
    position: absolute;
    padding: 17px 15px;
    top: 28.5%;
    left: 12.5%;
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 245px;
  }

  .title-block__image img {
    width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .title-block {
    @include desktop-mix;
    @include container-tablet;
  }

  .title-block__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .title-block__image {
    margin-top: 24px;
    margin-left: -40px;
  }

  .title-block__image img {
    width: 546px;
  }

  .tittle-block__btn {
    top: 64.1%;
    left: 7.3%;
  }

  .title-block__text h1 {
    margin-top: 94px;
    margin-left: 90px;
  }

  .title-block__text p {
    margin-left: 91px;
  }
}
