.title-block__wrapper {
  padding: 20px;
}

.title-block__wrapper h1 {
  margin: 0 auto 24px;
  padding-top: 7px;
  max-width: 280px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $base-color;
}

.title-block__wrapper p {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  color: $base-color;
}

.title-block {
  position: relative;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat, linear-gradient(to bottom, $green-gradient 61.3%, $base-color 61.3%);
}

@media (min-resolution: $retina) {
  .title-block {
    background: url("../img/index-background-mobile@2x.jpg") top center no-repeat, linear-gradient(to bottom, $green-gradient 61.3%, $base-color 61.3%);
    background-size: 320px;
  }
}

.tittle-btn {
  display: inline-block;
  margin-top: 2px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

.title-block__image {
  margin-top: 29px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .title-block {
    @include tablet-mix;
    @include container-tablet;
    min-height: 817px;
    background: none;
  }

  .title-block__wrapper {
    position: relative;
    padding: 0;
  }

  .title-block__text h1 {
    margin-top: 42px;
    margin-bottom: 39px;
    margin-left: 87px;
    max-width: 450px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: start;
    color: $black;
  }

  .title-block__text p {
    margin-left: 88px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $black;
  }

  .title-block__image {
    position: absolute;
    z-index: -1;
    margin-top: 2px;
  }

  .tittle-btn {
    margin-top: 48px;
    margin-left: 89px;
    padding: 17px 15px;
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 245px;
  }

  .title-block__image img {
    width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .title-block {
    @include desktop-mix;
    @include container-tablet;
    min-height: 425px;
  }

  .title-block__image {
    z-index: 0;
    top: -73px;
    right: 231px;
  }

  .title-block__image img {
    width: 546px;
  }

  .tittle-btn {
    margin-top: 53px;
  }

  .title-block__text h1 {
    max-width: 450px;
    margin-top: 94px;
    margin-left: 90px;
  }

  .title-block__text p {
    margin-left: 91px;
    max-width: 450px;
  }
}
