.title-block__wrapper {
  padding: 20px;
}

.title-block__wrapper h1 {
  margin-top: 0;
  font-size: 36px;
  line-height: 36px;
  color: $base-color;
}

.title-block__wrapper p {
  font-size: 14px;
  line-height: 14px;
  color: $base-color;
}

.title-block {
  position: relative;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat;
}

.tittle-block__btn {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  width: 100%;

  &:hover {
    transition: 0.3s;
    background-color: $green-hvr;
  }

  &:active {
    transition: 0.3s;
    color: $base-color-03;
  }
}

@media (min-width: $tablet-width) {
  .title-block {
    background: $base-color;
  }

  .title-block__wrapper {
    position: relative;
    margin-left: 90px;
    padding: 30px;
  }

  .title-block__wrapper h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: start;
    color: $black;
  }

  .title-block__wrapper p {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $black;
  }

  .tittle-block__btn {
    position: absolute;
    top: 31%;
    left: 4%;
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 245px;
  }

  .title-block__image img {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .title-block {
    position: relative;
    padding-top: 170px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    top: -65px;
    z-index: -1;
  }

  .title-block__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .title-block__image img {
    width: 552px;
    height: 499px;
  }

  .tittle-block__btn {
    top: 45%;
    left: 2%;
  }
}
