.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.navigation {
  width: 100%; }

.navigation-close {
  display: none; }

.site-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.site-list__item {
  text-transform: uppercase;
  text-align: center;
  padding: 22px 0;
  border-top: 2px solid #e6e6e6; }

.site-list__item:last-child {
  border-bottom: 2px solid #e6e6e6; }

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  color: #111111; }
  .site-list__link:not(.site-list__link--active):hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.6); }
  .site-list__link:not(.site-list__link--active):active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .navigation {
    width: auto; }
  .site-list__link--active {
    padding-bottom: 7px;
    border-bottom: 2px solid #68b738; }
  .site-list {
    margin-top: 22px; }
  .site-list__link {
    font-size: 18px;
    line-height: 25px; }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .site-list__item {
    margin: 0 18px;
    border: none; }
    .site-list__item:last-child {
      border: none;
      margin-right: 0; } }

@media (min-width: 1300px) {
  .navigation__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .site-list {
    margin-top: 52px;
    width: 570px; }
  .site-list__item {
    margin: 0 17px; }
  .site-list__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px; }
  .site-list__link--index {
    color: #ffffff; }
    .site-list__link--index:not(.site-list__link--active):hover {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      color: rgba(255, 255, 255, 0.6); }
    .site-list__link--index:not(.site-list__link--active):active {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      color: rgba(255, 255, 255, 0.3); }
  .site-list__link--index.site-list__link--active {
    border-bottom: 2px solid #ffffff; } }

.btn {
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #68b738;
  cursor: pointer; }

.title-block__wrapper {
  padding: 20px; }

.title-block__wrapper h1 {
  margin-top: 0;
  padding-top: 7px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff; }

.title-block__wrapper p {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  color: #ffffff; }

.title-block {
  position: relative;
  text-align: center;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat, linear-gradient(to bottom, #65a93c 305px, #ffffff 108px); }

.tittle-block__btn {
  display: inline-block;
  margin-top: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 18px; }
  .tittle-block__btn:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #5eaa2f; }
  .tittle-block__btn:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.3); }

.title-block__image {
  margin-top: 29px;
  margin-bottom: 0; }

@media (min-width: 768px) {
  .title-block {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    background: none; }
  .title-block__wrapper {
    position: relative;
    padding: 0; }
  .title-block__text h1 {
    margin-top: 42px;
    margin-left: 87px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: start;
    color: #111111; }
  .title-block__text p {
    margin-left: 88px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: #111111; }
  .title-block__image {
    margin-top: 21px; }
  .tittle-block__btn {
    position: absolute;
    padding: 17px 15px;
    top: 28.5%;
    left: 12.5%;
    font-size: 20px;
    line-height: 20px;
    display: block;
    width: 245px; }
  .title-block__image img {
    width: 709px; } }

@media (min-width: 1300px) {
  .title-block {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; }
  .title-block__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .title-block__image {
    margin-top: 24px;
    margin-left: -40px; }
  .title-block__image img {
    width: 546px; }
  .tittle-block__btn {
    top: 64.1%;
    left: 7.3%; }
  .title-block__text h1 {
    margin-top: 94px;
    margin-left: 90px; }
  .title-block__text p {
    margin-left: 91px; } }

.program-catalog {
  padding: 0 20px; }

.program-catalog__wrapper {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px; }

.main-block__title {
  position: relative;
  text-transform: uppercase;
  margin-top: 14px;
  padding-left: 12px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: center; }
  .main-block__title--second {
    padding-left: 39px; }
  .main-block__title--first::before {
    content: "";
    background: url("../img/icon-cat-slim.svg") no-repeat;
    background-position: center;
    width: 35px;
    height: 49px;
    position: absolute;
    top: -8px;
    left: 10px;
    z-index: 2; }
  .main-block__title--second::before {
    content: "";
    background: url("../img/icon-cat-pro.svg") no-repeat;
    background-position: center;
    width: 67px;
    height: 28px;
    position: absolute;
    top: 4px;
    left: -7px;
    z-index: 2; }
  .main-block__title--first::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 2px;
    z-index: 1; }
  .main-block__title--second::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 2px;
    z-index: 1; }

.main-block__text {
  margin-top: 29px;
  margin-bottom: 17px;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 2px solid #cdcdcd;
  color: #444444; }

.main-block__link {
  padding-right: 47px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #111111; }
  .main-block__link::after {
    content: "";
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    width: 24px;
    height: 11px;
    position: absolute;
    margin-left: 11px;
    margin-top: 4px; }
  .main-block__link:hover::after {
    content: "";
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    width: 33px;
    height: 11px;
    position: absolute; }
  .main-block__link:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.3; }

@media (min-width: 768px) {
  .program-catalog {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 30px; }
  .program-catalog__wrapper {
    margin-bottom: 29px;
    padding-bottom: 63px; }
  .main-block__title--second {
    padding-left: 0; }
  .main-block__title {
    margin-top: 56px;
    margin-bottom: 10px;
    margin-left: 33px;
    padding: 0;
    font-size: 36px;
    line-height: 37px;
    text-align: start; }
    .main-block__title--first::before {
      width: 140px;
      height: 194px;
      left: 423px;
      top: 4px; }
    .main-block__title--second::before {
      width: 268px;
      height: 112px;
      top: 59px;
      left: 359px; }
    .main-block__title--first::after {
      width: 200px;
      height: 200px;
      top: 16px;
      left: 393px; }
    .main-block__title--second::after {
      width: 200px;
      height: 200px;
      top: 15px;
      left: 395px; }
  .main-block__link {
    margin-left: 32px;
    font-size: 20px;
    line-height: 20px; }
    .main-block__link::after {
      margin-left: 22px;
      margin-top: 5px; }
  .main-block__text {
    margin-top: 26px;
    margin-bottom: 33px;
    margin-left: 32px;
    width: 375px;
    font-size: 16px;
    line-height: 24px;
    border: none; }
    .main-block__text--second-block {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-right: 31px; } }

@media (min-width: 1300px) {
  .program-catalog {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 82px; }
  .main-block {
    width: calc(50% - 60px);
    padding-right: 0; }
  .main-block__title {
    text-align: center; }
    .main-block__title--first {
      padding-right: 31px; }
    .main-block__title--second {
      padding-left: 11px; }
    .main-block__title--first::before {
      width: 70px;
      height: 97px;
      top: -35px;
      left: 2.5%; }
    .main-block__title--second::before {
      width: 134px;
      height: 56px;
      top: -7px;
      left: -4%; }
    .main-block__title--first::after {
      width: 100px;
      height: 100px;
      top: -30px;
      left: 0; }
    .main-block__title--second::after {
      width: 100px;
      height: 100px;
      top: -29px;
      left: 0%; }
  .main-block__text {
    margin-top: 74px;
    margin-bottom: 8px;
    width: 480px; } }

.content-block {
  padding: 0 20px; }

.content-block__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }

@media (min-width: 768px) {
  .content-block {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 30px 0; }
  .content-block__title {
    font-size: 60px;
    line-height: 60px; } }

@media (min-width: 1300px) {
  .content-block {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .content-block__title {
    margin-top: 29px; }
  .example .content-block__title {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    margin-top: 17px;
    margin-bottom: 15px; } }

.about-list {
  list-style: none;
  padding-left: 0;
  position: relative; }

.about-list__item {
  margin-left: 80px;
  margin-bottom: 26px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-height: 54px; }
  .about-list__item:last-of-type {
    margin-bottom: 0; }
  .about-list__item::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0; }
  .about-list__item--leaf::before {
    top: -3px;
    background: #68b738 url("../img/advantage-leaf@1x.png") no-repeat center; }
  .about-list__item--powder::before {
    top: 77px;
    background: #68b738 url("../img/advantage-powder@1x.png") no-repeat center; }
  .about-list__item--dining::before {
    bottom: 77px;
    background: #68b738 url("../img/advantage-dining@1x.png") no-repeat center; }
  .about-list__item--clock::before {
    bottom: -3px;
    background: #68b738 url("../img/advantage-clock@1x.png") no-repeat center; }

@media (min-width: 768px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about-list__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    width: 46%;
    margin-left: 0;
    margin-bottom: 110px;
    padding-top: 134px;
    padding-right: 65px; }
    .about-list__item::before {
      width: 80px;
      height: 80px;
      top: 22px; }
    .about-list__item--powder::before {
      left: 54.2%; }
    .about-list__item--dining::before {
      top: 53.5%; }
    .about-list__item--clock::before {
      left: 54.2%;
      top: 53.5%; }
  .about-list__item--leaf::after {
    position: absolute;
    color: #f2f2f2;
    font-size: 281px;
    z-index: -1;
    font-family: "oswald", sans-serif;
    content: "1";
    top: 111px;
    left: 118px; }
  .about-list__item--powder::after {
    position: absolute;
    color: #f2f2f2;
    font-size: 281px;
    z-index: -1;
    font-family: "oswald", sans-serif;
    content: "2";
    top: 111px;
    right: 79px; }
  .about-list__item--dining::after {
    position: absolute;
    color: #f2f2f2;
    font-size: 281px;
    z-index: -1;
    font-family: "oswald", sans-serif;
    content: "3";
    bottom: 180px;
    left: 113px; }
  .about-list__item--clock::after {
    position: absolute;
    color: #f2f2f2;
    font-size: 281px;
    z-index: -1;
    font-family: "oswald", sans-serif;
    content: "4";
    right: 75px;
    bottom: 180px; } }

@media (min-width: 1300px) {
  .about-list__item {
    text-align: start;
    width: calc(25% - 40px);
    margin-right: 0; }
    .about-list__item--powder::before {
      left: 27%; }
    .about-list__item--dining::before {
      top: -10px;
      left: 53%; }
    .about-list__item--clock::before {
      top: -10px;
      left: 80%; }
    .about-list__item--leaf::after {
      top: 80px; }
    .about-list__item--powder::after {
      top: 80px;
      left: 36%; }
    .about-list__item--dining::after {
      top: 80px;
      left: 62.6%; }
    .about-list__item--clock::after {
      top: 80px;
      left: 89%; }
  .advantages__list .about-list__item:last-child {
    margin-right: 0; } }

@media (min-width: 1300px) {
  .about-list__item {
    width: calc(25% - 60px);
    padding-right: 0; }
    .about-list__item--powder::before {
      left: 26.6%; }
    .about-list__item--dining::before {
      top: 23px;
      left: 53.3%; }
    .about-list__item--clock::before {
      top: 23px; }
    .about-list__item::after {
      top: 112px; } }

.example {
  margin-top: 45px;
  background-color: #f2f2f2; }

.example h2 {
  margin-bottom: 23px;
  padding-top: 17px; }

.example__text {
  margin-left: 1px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: #444444; }

.options-list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px; }

.options-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(50% - 16px);
  border: 1px solid #cfcfcf;
  border-radius: 5%; }

.options-list__option {
  padding-top: 13px;
  padding-bottom: 9px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px; }

.options-list__description {
  padding: 0 16px;
  text-align: center;
  width: 56px;
  margin-bottom: -16px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 12px;
  background-color: #f2f2f2; }

.example__description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.example__description__item p {
  margin-top: 18px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase; }

.photo-block__cat--second {
  display: none; }

.photo-block__image {
  margin-top: 20px;
  max-width: none; }

.photo-block__image img {
  max-width: 320px; }

.photo-block__cat--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.control-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 14px;
  padding: 0 30px 35px 30px; }

.control-menu__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent; }
  .control-menu__button:first-of-type {
    margin-right: 12px;
    margin-left: 7px; }

.control-menu__range {
  position: relative;
  margin-top: 4px;
  margin-right: 10px;
  width: 84px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px; }

.control-menu__range-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6%;
  width: 35px;
  height: 6px;
  border: none;
  border-radius: 3px;
  background-color: #68b738; }

@media (min-width: 768px) {
  .example {
    position: relative;
    margin-top: 37px;
    max-width: none;
    padding: 0;
    background-color: transparent; }
  .example__container::before {
    content: "";
    position: absolute;
    top: -45px;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2; }
  .example__container::after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 461px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    z-index: -15; }
  .example h2 {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 48px;
    padding: 0 30px; }
  .example__description {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .example__text {
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
    width: 100%; }
  .example__description__item {
    margin-top: 38px;
    margin-left: auto;
    text-align: end; }
  .example__description__item p {
    font-size: 20px;
    line-height: 20px; }
    .example__description__item p:first-of-type {
      margin-top: 8px;
      margin-bottom: 0;
      width: 100%; }
    .example__description__item p:last-of-type {
      margin-top: 1px;
      margin-left: auto; }
  .control-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    padding: 0 93px 75px 93px;
    width: 100%; }
  .control-menu__range {
    margin-top: 10px;
    width: 428px;
    height: 6px;
    border: none;
    background-color: #cdcdcd;
    border-radius: 2.5px; }
  .control-menu__range-button {
    left: 46%;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%; }
    .control-menu__range-button::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%; }
    .control-menu__range-button:focus {
      outline: none; }
    .control-menu__range-button:hover {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-box-shadow: 0 2px 2px 0 #cdcdcd;
              box-shadow: 0 2px 2px 0 #cdcdcd; }
    .control-menu__range-button:active {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      border: 1px solid #68b738;
      -webkit-box-shadow: 0 2px 2px 1px #cdcdcd;
              box-shadow: 0 2px 2px 1px #cdcdcd; }
  .control-menu__button {
    padding-left: 0;
    font-size: 20px;
    border-bottom: 1px dotted #cdcdcd;
    cursor: pointer; }
    .control-menu__button:first-of-type {
      margin-right: 5px; }
    .control-menu__button:hover {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      border-bottom: 1px solid #cdcdcd; }
    .control-menu__button:active {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      border: none; }
  .options-list {
    width: 52%;
    margin-top: 37px; }
  .options-list__item {
    width: calc(50% - 23px); }
  .options-list__option {
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px; }
  .options-list__description {
    margin-top: -8px;
    font-size: 14px;
    line-height: 14px;
    width: auto;
    background-color: #ffffff; }
  .photo-block {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: 50px;
    padding: 0;
    background: none; }
  .photo-block__cat {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
    overflow: hidden; }
  .photo-block__image img {
    width: 690px;
    max-width: none; }
  .photo-block__cat--first .photo-block__image {
    margin-left: 46px; }
  .photo-block__cat--second .photo-block__image {
    margin-right: 32px; }
  .photo-block__cat--second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

@media (min-width: 1300px) {
  .example {
    position: relative;
    margin-top: 0;
    padding-bottom: 75px;
    width: auto;
    max-width: none;
    background: none; }
  .example__container::before {
    height: 0; }
  .example__container::after {
    top: 135px;
    width: 100%;
    height: 465px;
    background: -webkit-gradient(linear, left top, right top, color-stop(72.6%, #f2f2f2), color-stop(27.4%, #eaeaea));
    background: linear-gradient(to right, #f2f2f2 72.6%, #eaeaea 27.4%); }
  .example__wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .example__description {
    width: 50%;
    margin: 0;
    padding: 0;
    background: none; }
  .example__text {
    padding: 115px 170px 0 0; }
  .options-list {
    margin-top: 53px;
    width: 60%; }
  .example__description__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 36px;
    margin-left: 0;
    min-width: 54%;
    text-align: start; }
  .example__description__item p {
    font-size: 20px; }
    .example__description__item p:first-of-type {
      margin-top: 8px;
      margin-bottom: 0;
      width: auto; }
    .example__description__item p:last-of-type {
      margin-top: 8px;
      margin-bottom: 0;
      margin-left: 0; }
  .options-list__description {
    background-color: #f2f2f2; }
  .photo-block {
    margin-top: -150px;
    width: 50%;
    padding: 0; }
    .photo-block::after {
      content: "";
      position: absolute;
      bottom: -77px;
      width: 610px;
      height: 465px;
      background: -webkit-gradient(linear, left top, right top, color-stop(53%, #f2f2f2), color-stop(53%, #eaeaea));
      background: linear-gradient(to right, #f2f2f2 53%, #eaeaea 53%);
      z-index: -1; }
  .photo-block__cat--first {
    width: 53%;
    background: none; }
  .photo-block__cat--second {
    width: 47%;
    background: none; }
  .photo-block__cat--first .photo-block__image {
    margin-left: -40px; }
  .photo-block__cat--second .photo-block__image {
    margin-right: -40px; }
  .control-menu {
    padding: 21px 0 0 32px;
    background: none; }
  .control-menu__button {
    padding-right: 0; }
  .control-menu__range-button {
    left: 47%; } }

.product-catalog__title {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 27px;
  padding-left: 20px;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }

.product-catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 768px) {
  .product-catalog {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 30px; }
  .product-catalog__title {
    margin-top: 36px;
    padding-left: 0;
    width: 100%;
    font-size: 60px;
    line-height: 60px;
    border: none; } }

@media (min-width: 1300px) {
  .product-catalog {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .product-catalog__title {
    margin-top: 0; } }

.product-card {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6; }

.product-card__wrapper {
  width: 50%; }

.product-card__wrapper h3 {
  margin-top: 20px;
  margin-bottom: 14px;
  padding-right: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.product-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.product-card__description p {
  margin: 0;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px; }

.product-card__btn {
  padding: 9px 15px;
  width: 100%;
  font-size: 16px;
  font-family: "oswald", sans-serif;
  line-height: 20px; }
  .product-card__btn:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #5eaa2f; }
  .product-card__btn:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.3); }

.product-card__img {
  margin: 0;
  text-align: center;
  width: 50%; }

.show-more {
  position: relative;
  padding: 63px 20px 24px 20px; }
  .show-more::after {
    content: "";
    background: url("../img/icon-plus.svg") no-repeat;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 26px;
    width: 30px;
    height: 30px; }

.show-more__text {
  text-align: center; }
  .show-more__text:first-of-type {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase; }
  .show-more__text:nth-of-type(2) {
    margin: 7px 0 22px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 16px; }

.show-more__btn {
  width: 100%;
  font-size: 16px;
  font-family: "oswald", sans-serif;
  line-height: 20px;
  color: #111111;
  background-color: #f2f2f2; }
  .show-more__btn:hover {
    background-color: #ebebeb; }
  .show-more__btn:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ebebeb; }

@media (min-width: 768px) {
  .product-card {
    margin-top: 138px;
    padding: 0 0 40px;
    width: calc(100% / 12 * 6 - 30px);
    background-color: #f2f2f2; }
  .product-card__img {
    width: 100%; }
  .product-card__wrapper {
    margin-bottom: 28px;
    padding: 0 37px;
    width: 100%; }
  .product-card__img img {
    margin-top: -46px;
    width: 324px; }
  .product-card:nth-child(odd) img {
    margin-top: -82px; }
  .product-card__wrapper h3 {
    margin: 36px 0 28px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: center; }
  .product-card__description {
    margin-bottom: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e6e6e6; }
  .product-card__description p {
    font-size: 16px; }
  .product-card__btn {
    margin: 0 auto;
    width: 77%; }
  .show-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 1px #e6e6e6;
            box-shadow: inset 0 0 0 1px #e6e6e6;
    border: none; }
    .show-more::after {
      top: 57px;
      width: 60px;
      height: 60px; }
  .show-more__btn {
    margin: 0 auto;
    width: 77%; }
  .show-more__text:first-of-type {
    margin-bottom: 23px;
    padding: 0 75px;
    font-size: 20px; }
  .show-more__text:nth-of-type(2) {
    margin-bottom: 85px;
    padding: 0 50px;
    font-size: 16px; } }

@media (min-width: 1300px) {
  .product-card {
    width: calc(100% / 12 * 3 - 60px); }
  .product-card img {
    width: 245px; }
  .product-card__wrapper h3 {
    padding: 0 10px; }
  .product-card__btn,
  .show-more__btn {
    width: 69%; }
  .show-more__text:first-of-type {
    padding: 0 40px; }
  .show-more__text:nth-of-type(2) {
    padding: 0 30px; } }

.additional-catalog__container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  position: relative; }

.additional-catalog {
  position: relative; }
  .additional-catalog::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    top: 41px;
    left: 0;
    z-index: -1; }

.additional-catalog h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: -20px;
  padding: 0 20px 14px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .additional-catalog::after {
    top: 89px; }
  .additional-catalog__container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; }
  .additional-catalog h2 {
    margin-top: 58px;
    margin-left: 0;
    padding: 0 37px;
    font-size: 36px;
    line-height: 36px; }
  .additional-catalog__wrapper {
    margin-top: 51px; } }

@media (min-width: 1300px) {
  .additional-catalog__container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 88px; }
  .additional-catalog__wrapper {
    margin-top: 50px;
    width: 73.4%; }
  .additional-catalog h2 {
    margin-top: 68px;
    margin-left: -38px; }
  .additional-catalog::after {
    top: 98px; } }

.additional-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #cdcdcd; }
  .additional-product:last-child {
    border-bottom: 1px solid #cdcdcd; }

.additional-product h3 {
  margin: 12px 0 0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase; }

.additional-product p {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 14px; }

.additional-product__btn {
  width: 100%;
  margin-bottom: 18px;
  font-size: 16px;
  font-family: "oswald", sans-serif;
  line-height: 20px; }
  .additional-product__btn:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #5eaa2f; }
  .additional-product__btn:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.3); }

.product-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin: 39px 0 35px;
  background: url("../img/gift-photo-mobile@1x.jpg") top center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#65a93c), to(#65a93c));
  background: url("../img/gift-photo-mobile@1x.jpg") top center no-repeat, linear-gradient(to bottom, #65a93c, #65a93c);
  min-width: 280px;
  min-height: 289px; }
  .product-bonus::before {
    content: "";
    background: url("../img/icon-gift.svg") no-repeat;
    color: #ffffff;
    width: 55px;
    height: 60px;
    position: absolute;
    top: 23%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.product-bonus__text {
  margin-bottom: 42px;
  max-width: 280px;
  text-align: center;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #ffffff; }

@media (min-width: 768px) {
  .additional-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 15px 38px 9px; }
  .additional-product h3 {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto; }
  .additional-product p {
    font-size: 16px;
    line-height: 20px;
    margin-left: 48px; }
  .product-bonus {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 70px 0 0 0;
    min-height: 275px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(69%, #65a93c), color-stop(31%, #ffffff));
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat, linear-gradient(to bottom, #65a93c 69%, #ffffff 31%); }
    .product-bonus::before {
      left: 17%; }
  .product-bonus__text {
    margin-top: 71px;
    margin-right: 124px;
    text-align: start; }
  .additional-product__btn {
    margin-top: 4px; } }

@media (min-width: 1300px) {
  .additional-product {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 13px;
    padding: 0;
    border-right: none;
    border-left: none; }
    .additional-product:last-child {
      margin-bottom: 0;
      padding-bottom: 13px; }
  .additional-product p {
    margin: 30px 0 0; }
    .additional-product p:first-of-type {
      margin-left: 43px;
      width: 150px; }
    .additional-product p:last-of-type {
      margin-left: 0;
      width: 100px;
      text-align: end; }
  .additional-product h3 {
    margin-top: 25px;
    margin-right: 0;
    width: 245px; }
  .product-bonus {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 51px;
    margin-left: 79px;
    width: 245px;
    min-width: auto;
    min-height: auto;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    background-color: #65a93c; }
    .product-bonus::before {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .product-bonus .product-bonus__text {
    margin: 0 0 42px 0;
    text-align: center; }
  .additional-product__btn {
    margin-top: 15px;
    margin-bottom: 3px;
    width: 245px; } }

.footer {
  background-color: #f2f2f2; }

.footer__wrapper {
  padding: 0 20px; }

.footer__item {
  margin: 0 auto;
  text-align: center; }

.footer-logo {
  text-align: center; }
  .footer-logo:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.8; }
  .footer-logo:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.6; }

.footer__social {
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9; }

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 29px;
  padding: 23px 20px 19px 8px; }
  .social-links__icon:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    fill: #68b738; }
  .social-links__icon:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    fill: rgba(94, 170, 47, 0.3); }

.social-links a {
  margin-right: 38px; }
  .social-links a:last-of-type {
    margin-right: 0; }

.copyright-block {
  padding: 15px 0; }

.copyright-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.copyright-block__text {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: #111111; }

.copyright-block__link:hover path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #68b738; }

.copyright-block__link:active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3; }

.copyright-block__picture {
  margin-right: -6px; }

@media (min-width: 768px) {
  .footer__wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 150px; }
  .footer__item {
    margin: -7px 0 0 0; }
  .social-links {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 20px;
    width: 25%;
    max-width: 25%;
    border: none; }
  .social-links a {
    margin: 0 28px 0 0; }
    .social-links a:last-of-type {
      margin-right: 0; }
  .social-links__icon--vk {
    width: 30px;
    height: 16px; }
  .social-links__icon--inst {
    margin-top: -4px;
    width: 23px;
    height: 23px; }
  .social-links__icon--fcb {
    margin-top: -7px;
    width: 14px;
    height: 28px; }
  .copyright-block__text {
    margin-top: 8px;
    margin-right: 17px; }
  .copyright-block__picture {
    margin-top: -3px; } }

@media (min-width: 1300px) {
  .footer__wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .footer__item {
    margin: 0; }
  .social-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 126px;
    padding-left: 36px; }
  .copyright-block__link {
    margin-top: 10px; } }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 66px; }

.header-button {
  margin-top: 23px;
  margin-right: 20px;
  border: none;
  background: url("../img/icon-close.svg") no-repeat;
  width: 24px;
  height: 18px; }

.header-button-close {
  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat;
  width: 24px;
  height: 18px; }

.header__logo-image:hover,
.header__logo-text:hover {
  opacity: 0.8; }

.header__logo-image:active,
.header__logo-text:active {
  opacity: 0.6; }

.header__logo-image {
  margin-top: 11px;
  margin-left: 20px; }

.header__logo-text {
  margin-top: 24px;
  padding-right: 9px; }

@media (min-width: 768px) {
  .header__wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header__logo-image {
    margin-top: 24px;
    margin-left: 0;
    padding: 0; }
  .header-button {
    display: none;
    padding-right: 20px; }
  .header__logo-text {
    display: none; }
  .header__logo-image img {
    width: 173px;
    height: 58px; } }

@media (min-width: 1300px) {
  .header {
    padding-bottom: 54px; }
  .header__wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .header-index {
    background: url("../img/index-background-desktop@1x.jpg") top right no-repeat, -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #65a93c));
    background: url("../img/index-background-desktop@1x.jpg") top right no-repeat, linear-gradient(to right, #ffffff 50%, #65a93c 50%); }
  .header__logo-image {
    margin-top: 55px; }
  .header__logo-image img {
    width: 202px;
    height: 59px; } }

.form-block__container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.filter-program,
.contacts-list,
.additional-list {
  list-style: none;
  padding-left: 0; }

.program-form__btn {
  font-size: 16px;
  line-height: 20px; }
  .program-form__btn:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #5eaa2f; }
  .program-form__btn:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.3); }

.form-block {
  margin-bottom: 8px;
  padding-top: 5px; }

.form-block__title {
  margin-top: 9px;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400; }

.form-block__text {
  width: 250px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .form-block {
    margin-bottom: 63px; }
  .form-block__container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 43px; }
  .form-block__title {
    margin-top: 44px;
    margin-bottom: 54px;
    padding-left: 0;
    font-size: 60px;
    line-height: 60px; }
  .form-block__text {
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    width: 325px; } }

@media (min-width: 1300px) {
  .program-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 75px; }
  .form-block__container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .form-block__title {
    margin-top: 8px; }
  .form-block__text {
    padding: 0; } }

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 20px 10px 20px; }

.contacts__text--invite {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }

.contacts__text--address {
  margin-top: 8px;
  padding-right: 5px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px; }

.contacts__map {
  height: 400px;
  width: 100%;
  border: none;
  overflow: hidden;
  min-height: 362px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
  background-color: #f2f2f2; }

.contacts-page {
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .contacts__wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 71px 41px; }
  .contacts__map {
    min-height: 396px;
    background: url("../img/bg-map-tablet@1x.png") no-repeat; }
  .contacts__text--invite {
    margin-top: 34px;
    margin-left: 0;
    font-size: 20px;
    line-height: 25px; }
  .contacts__text--address {
    margin-top: 33px;
    padding: 0;
    font-size: 16px;
    text-align: end; }
  .contacts__text--city {
    display: block;
    margin-top: 18px; } }

@media (min-width: 1300px) {
  .contacts {
    position: relative;
    padding: 93px 0 105px 0; }
  .contacts__wrapper {
    position: relative;
    z-index: 2;
    margin-left: 110px;
    padding: 30px 76px 41px;
    background-color: #ffffff;
    max-width: 570px; }
  .contacts__text--invite {
    font-size: 20px;
    line-height: 25px; }
  .contacts__text--address {
    margin-right: 15px;
    text-align: start;
    font-size: 16px;
    line-height: 20px; }
  .contacts__text--city {
    margin-top: 21px; }
  .contacts__map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    min-height: 400px;
    background: url("../img/bg-map-desktop@1x.png") no-repeat; } }

.program-form legend {
  font-size: 24px;
  line-height: 24px;
  padding: 20px 0; }

.program-form label,
.program-form input {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 18px; }

.program-form__container {
  position: relative; }
  .program-form__container--line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    top: 42px;
    z-index: -1; }

.program-form__container--line:nth-last-of-type(2)::after {
  top: 19px; }

.program-form__container--line:nth-last-of-type(1)::after {
  top: 22px; }

.program-form__field {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  border: none; }

.program-field__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  text-transform: uppercase; }
  .program-field__label:first-of-type {
    margin-top: 18px; }

.label-mail,
.label-phone {
  position: relative; }

.label-mail__icon {
  position: absolute;
  right: 16px; }

.label-phone__icon {
  position: absolute;
  right: 13px; }

.program-field__text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 13px; }

.program-form__contacts .program-field__text {
  margin-right: 9px; }

.program-field__input {
  padding: 0 15px 3px;
  width: 100%;
  min-height: 40px;
  text-transform: inherit;
  border: 2px solid #e6e6e6; }
  .program-field__input:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #cdcdcd; }
  .program-field__input:active {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #111111; }
  .program-field__input:focus {
    outline: none;
    border: 2px solid #111111; }
  .program-field__input:invalid {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #ff8282; }

.program-field__input:focus + .label-mail__icon,
.program-field__input:focus + .label-phone__icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #68b738; }

.program-field__input:invalid + .label-mail__icon,
.program-field__input:invalid + .label-phone__icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #ff8282; }

.program-form__radio-label:active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3; }

.input-radio + label:hover::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #cdcdcd; }

.input-radio + label:active::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3; }

.input-radio:checked + label:active::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3; }

.program-form__contacts .program-field__input {
  padding: 0 35px 3px 15px; }

.program-form__field--border {
  padding-bottom: 1px;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6; }

.program-form__comment-field {
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  font-family: "oswald", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 10px 82px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #e6e6e6; }

.program-form__btn {
  margin-top: 15px;
  width: 100%; }

.submit-list__text {
  margin-top: 23px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  text-align: center; }

.program-form__legend {
  display: inline-block;
  position: relative;
  margin-left: -21px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff; }
  .program-form__legend--first {
    margin-top: 22px;
    margin-bottom: 15px;
    width: 182px; }
  .program-form__legend--second {
    margin-top: 0;
    padding-right: 24px; }
  .program-form__legend--third {
    margin-top: 1px;
    padding-right: 22px; }

.filter-program {
  margin-top: 19px; }

.filter-program__item {
  margin-bottom: 25px; }

.program-form__radio-label {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 27px;
  height: 27px;
  border: 2px solid #e6e6e6;
  border-radius: 50%; }

.input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%; }

.product-name {
  position: relative;
  padding-bottom: 30px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }
  .product-name:first-of-type {
    margin-top: 40px; }

.checkbox-control + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #e6e6e6; }

.checkbox-control:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  background: url("../img/icon-tick.svg") no-repeat;
  width: 21px;
  height: 16px; }

.additional-list__item {
  margin-bottom: 25px; }

.additional-list__item p {
  text-align: center; }

@media (min-width: 768px) {
  .program-form label,
  .program-form input {
    font-size: 20px;
    line-height: 20px; }
  .program-form__field {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box; }
  .program-form__field--border {
    border: none; }
  .program-form__legend {
    margin-top: 51px;
    margin-left: -40px;
    padding: 0 40px 0;
    font-size: 36px;
    line-height: 36px;
    width: auto; }
    .program-form__legend--second {
      margin-top: 31px; }
    .program-form__legend--third {
      margin-top: 37px; }
  .additional-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0; }
  .additional-list__item {
    margin-bottom: 52px;
    width: calc(50% - 30px); }
  .product-name {
    padding-left: 58px; }
  .checkbox-control + label::before {
    top: -4px;
    width: 38px;
    height: 38px; }
  .checkbox-control:checked + label::after {
    top: 8px;
    left: 10px;
    width: 21px;
    height: 16px; }
  .submit-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .program-form__btn {
    padding-bottom: 16px;
    padding-top: 13px;
    width: calc(50% - 30px); }
  .submit-list__text {
    padding-top: 6px;
    font-size: 16px;
    line-height: 16px;
    text-align: start;
    width: calc(50% - 30px); }
  .filter-program {
    margin-top: 37px;
    padding: 32px 25px 35px 25px;
    border: 2px solid #e6e6e6; }
  .filter-program__item:nth-last-of-type(1) {
    margin-bottom: 0; }
  .program-field__label {
    margin-bottom: 20px; }
  .program-field__text {
    margin-right: 18px; }
  .program-field__input {
    min-height: 45px; }
  .program-form__radio-label {
    padding-left: 61px; }
  .input-radio + label::before {
    top: -5px;
    left: 1px;
    width: 38px;
    height: 38px; }
  .input-radio:checked + label::after {
    top: 7px;
    left: 13px;
    width: 18px;
    height: 18px; }
  .filter-program__item {
    margin-bottom: 33px; }
  .program-form__container--line::after {
    top: 79px; }
  .program-form__container--line:nth-last-of-type(2)::after {
    top: 58px; }
  .program-form__container--line:nth-last-of-type(1)::after {
    top: 65px; }
  .program-form__contacts {
    padding-top: 42px; }
  .program-form__contacts .program-field__text {
    margin-right: 16px; }
  .program-form__comment-field {
    margin-top: 39px;
    padding-bottom: 72px;
    font-size: 20px;
    line-height: 30px; }
  .label-mail__icon {
    top: 21px; }
  .label-phone__icon {
    top: 18px; } }

@media (min-width: 1300px) {
  .program-form__container {
    width: 100%; }
  .program-form__field {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box; }
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts-list__item {
    width: calc(50% - 40px); }
  .additional-list__item {
    width: calc(25% - 60px); }
  .information-field {
    padding: 19px 0 0 0; }
  .program-form__field--border {
    padding: 0; }
  .program-form__wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px; }
  .label-mail {
    width: calc(50% - 40px); }
  .label-phone {
    margin-top: 18px;
    width: calc(50% - 40px); }
  .label-mail__icon {
    right: 20px; }
  .label-phone__icon {
    right: 19px; }
  .program-form__wrapper .program-form__container {
    width: calc(50% - 40px); }
  .program-form__legend {
    margin-top: 43px; }
    .program-form__legend--second {
      margin-top: 34px; }
    .program-form__legend--third {
      margin-top: 38px; }
  .program-form__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .program-form__container--line::after {
    top: 71px; }
  .program-form__container--line:nth-last-of-type(2)::after {
    top: 60px; }
  .program-form__container--line:nth-last-of-type(1)::after {
    top: 66px; }
  .program-form__comment-field {
    padding-top: 8px;
    padding-bottom: 74px;
    padding-left: 17px; }
  .program-form__btn {
    margin-top: 22px;
    width: calc(50% - 40px); }
  .submit-list__text {
    margin-top: 30px;
    width: calc(50% - 40px); } }

/*# sourceMappingURL=style.css.map */
