$base-color: #ffffff;
$base-color-06: rgba(255, 255, 255, 0.6);
$base-color-03: rgba(255, 255, 255, 0.3);
$green: #68b738;
$green-hvr: #5eaa2f;
$green-active: rgba(94, 170, 47, 0.3);
$black: #111111;
$black-06: rgba(0, 0, 0, 0.6);
$black-03: rgba(0, 0, 0, 0.3);
$light-gray: #f2f2f2;
$dark-silver: #444444;
$border-base: #e6e6e6;
$border-footer: #d9d9d9;
$light-gray-back: #f2f2f2;
$light-gray-modify: #ebebeb;
$tablet-width: 768px;
$desktop-width: 1200px;
